{% extends 'service_function/base.html' %}


<!-- Page content-->
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container">
        {{ form.as_p}}
    </div>
    <div class="form-row">
        <div class="col-lg-12" style="margin-top: 33px;">
            <input class="btn btn-info btn-block" type="submit" value="Find Waybills">
        </div>
    </div>
</form>
<div>
    {% if messages %}
        <ul class="messages">
            <br>
            {% for message in messages %}
                <li>{% if message.tags %} "<mark>{{ message.tags.upper }}</mark>"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div>
    {% if waybills %}
        <br>
    <h5>Waybills for you :</h5>
        {% for waybill in waybills %}
            <br>
            <ul><li><mark>{{ waybill }}</mark></li></ul>
            <div>
                {% if waybill.transport_set.all %}
                <h5>Available Transports :</h5>
                    {% for transport in waybill.transport_set.all %}
                        <ul>Train number | {{ transport.code_name }} |
                            <mark>{{ transport.waybill.start_point }} - {{ transport.waybill.end_point }}</mark>
                            | {{ transport.road_time }} minutes in road
                            <hr>
                        </ul>
                    {% endfor %}
                {% else %}
                    <h5> Available Transports : There are no available transport for this waybill </h5>
                {% endif %}

            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}