{% extends 'service_function/base.html' %}
{% block content %}
<h3 align="center" style="color:Black"> Localizations </h3>
<br>
    <div class="parent-div">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cities</th>
            </tr>
            </thead>
            <tbody>
            {% for city in localizations %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ city.name }}</td>
                {% if user.is_authenticated %}
                    <td>
                        <a href="{% url 'delete_localization' city.pk %}">
                            <button type="button" class="btn btn-primary btn-sm">Delete</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'update_localization' city.pk %}">
                            <button type="button" class="btn btn-primary btn-sm">Update</button>
                        </a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {% else %} # {% endif %} ">Previous</a></li>
          {% for num in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endfor %}
          <li class="page-item"><a class="page-link" href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {% else %} # {% endif %}">Next</a></li>
      </ul>
    </nav>
{% endblock %}