{% extends 'service_function/base.html' %}

{% block content %}
    <div>
        <h3> List of Transports </h3>
        <ul>{% for transport in transports %}
            <br>
                {% if transport.waybill is not None %}
            <li>Train code | {{ transport.code_name }} | Waybill <mark>{{ transport.waybill.start_point }} - {{ transport.waybill.end_point }}</mark> | Time In Road - {{ transport.road_time }} minutes {% if user.is_authenticated %} <a href="{% url 'delete_transport' transport.pk %}"><input class="btn btn-info btn-sm" type="submit" value="Delete"></a>  <a href="{% url 'update_transport' transport.pk %}"><button type="button" class="btn btn-primary btn-sm">update</button></a>{% endif %}</li>
                {% else %}
                    Train code | {{ transport.code_name }} | Time In Road - {{ transport.road_time }} minutes {% if user.is_authenticated %} <a href="{% url 'delete_transport' transport.pk %}"><input class="btn btn-info btn-sm" type="submit" value="Delete"></a>  <a href="{% url 'update_transport' transport.pk %}"><button type="button" class="btn btn-primary btn-sm">update</button></a>{% endif %}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}